attrs==23.2.0
binarytree==6.5.1
certifi==2024.2.2
charset-normalizer==3.3.2
graphviz==0.20.3
idna==3.7
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
packaging==24.0
referencing==0.35.1
requests==2.31.0
rpds-py==0.18.1
setuptools-scm==8.1.0
tomli==2.0.1
typing_extensions==4.11.0
urllib3==2.2.1
